<div class="container" id= "info-border-container">
  <% @json["items"].each do |item|  %>
    <div class="info">
      <div class="c-name">
        <%= item["name"].capitalize %>
        <a class="c-link text-right" href= <%= item["html_url"] %> >Open repository details</a>
      </div>
      <div class="c-description">
        <%= item["description"] %>
      </div>

      <div class="c-others">
        <%= item["language"] %>

        <div class="stars d-flex justify-content-center align-items-center">
          <div class="c-star">
            <i class="fas fa-star"></i>
          </div>
          <div class="number-star">
            <%= item["stargazers_count"] %>
          </div>
        </div>


        <div class="c-forks">
        <i class="fas fa-code-branch"></i>
        <%= item["forks"] %>
        </div>
      </div>
    </div>
  <% end %>

</div>
