<% @json["items"].each do |item|  %>
  <div>
    <%= item["name"] %>
    <%= item["forks"] %>
    <%= item["description"] %>
    <%= item["starsgaze_count"] %>
    <%= item["html_url"] %>
  </div>
<% end %>
